@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/grid/columns.sass";
@import "bulma/sass/components/modal.sass";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: url("../img/space2.jpg");
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

.title, .subtitle {
    color: hsl(204, 86%, 53%);
}

.next-launch {
    padding-bottom: 3%;
}

h1 {
    padding-bottom: 15px;
}

h3, p {
    color: hsl(217, 71%, 53%);
}

h4 {
    margin-bottom: 12px;
}

.name {
    font-style: italic;
    font-weight: bold;
}

.site-imgs {
    width: 75%;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url("../img/space2.jpg");
        width: 100vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}